
.newUser, .userDeleted, .updatedUser{
    text-align: center;
    font-size: 16px;
    color:white;
}


.newUser{
    background:#35de5d;
}

.userDeleted{
    background:#fd5e53 ;
}

.updatedUser{
    background:#35de5d;
}

.message-banner{
    height:0px;
    width:100%;
}

.show{
    width: 100%;
    opacity: 0;
    animation-name: show;
    animation-duration: 3s;
    text-align: center;
    padding:20px;
}
@keyframes show {
    0%{ opacity: 0; }
    50%{ opacity:1; }
   100%{ opacity: 0; display:none; }
   }

.hide{

    animation-name: hide;
    text-align: center;
    opacity: 0;
    
}

@keyframes hide {
    0%{ opacity: 1; padding:20px;}
   
    100%{ opacity: 0; padding:0px; display:none; }

   }






