<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My Crud App</a>
</nav>
<div>
{{message.text}}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="form-container col-md-4">
      <h4>title</h4>
         <userForm></userForm>
    </div>
    <div class="col-md-8">
      <h4 class="">User List</h4>
      <user-list></user-list>
    </div>
  </div>

</div>
<router-outlet></router-outlet>

<!--
[formMode]="formMode" [userId]="userId" [userInformation]="userInformation" -->
