input{
  margin:10px 0px;
}
.error-field{
  box-shadow: inset 0px 0px 8px rgb(255, 0, 0);
  input::after{
    content:" *";
    color:white;
  }
}

form{
  padding:20px;
  background-color:#444141;
  color:white;
}

.animated{
  max-height:100px;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

button{
  background-color: #35de5d;
}

.btn-success{
  background-color: #35de5d;
}


