
<form [formGroup]="userForm" (ngSubmit)="saveNewUser()">

  <h6>{{formTitle}}</h6>

  <div class="form-group">

    <input class="form-control input-lg" [ngClass]="{'error-field': (!name.untouched && name.errors.required)}" type="text" formControlName="name"  placeholder="User Name">
    <app-input-error  [fieldErrors]="userForm.controls['name']" fieldName="Name"></app-input-error>
    
    <input class="form-control input-md" [ngClass]="{'error-field': (!email.untouched && email.errors.required)}" type="text" formControlName="email" placeholder="User Email">
    <app-input-error  [fieldErrors]="userForm.controls['email']" fieldName="Email"></app-input-error>
 
    <input class="form-control input-md"type="text" [ngClass]="{'error-field': (!mobile.untouched && mobile.errors.required)}" formControlName="mobile" placeholder="Mobile Phone">
    <app-input-error  [fieldErrors]="userForm.controls['mobile']" fieldName="Mobile"></app-input-error>
 
    <input class="form-control input-md" [ngClass]="{'error-field': (!age.untouched && age.errors.required)}" type="text" formControlName="age" placeholder="User Age">
    <app-input-error  [fieldErrors]="userForm.controls['age']" fieldName="Age"></app-input-error>
 
  </div>

  <div class="form-group">
    <button  [disabled]="userForm.invalid" 
    type="submit" class="btn-lg btn-success btn-large btn-block" (click)="handleForm()"  data-dismiss="modal" >
      save user
    </button>
  </div>

</form>
