.spinner-border{
    margin-top: 100px;
    color:blue;
}

.card-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

    @media (max-width:1000px){
        grid-template-columns:1fr 1fr;
    }

    @media (max-width:580px){
      
        margin:auto 0px;
        justify-content: center;
        grid-template-columns:80%;
        
    }

}

   

