
<div *ngIf="showUpdatedBanner" (click)="closeBanner()" class="alert alert-success update" role="alert">
    User was updated on Database :) <button type="button" class="close" data-dismiss="alert">x</button>
</div>
<div *ngIf="loading">
    <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
</div>
<div class="card-container"  >
        <user *ngFor="let user of users" [userInfo]="user"></user>
</div>

